---
import Layout from '~/layouts/ApacheEChartsLayout.astro';

import Link from '~/components/Link.astro';
---

<style>
  /*
    https://tailwindcss.com/docs/functions-and-directives#reference-directive
  */
  @reference "tailwindcss";

  .links {
    @apply flex flex-col gap-2 pl-4;
  }

  .description {
    @apply py-2 italic;

    span {
      @apply font-semibold;
    }
  }
</style>

<Layout>
  <div class="font-semibold">Examples</div>

  <div class="description">Data under <span>series</span></div>

  <div class="links">
    <div>
      <Link href="/echarts/examples/starter">Starter</Link>
      <span> - with theme switch ( light or dark )</span>
    </div>

    <Link href="/echarts/examples/formatting-tooltip-values"
      >Formatting of Values in Tooltip</Link
    >

    <Link href="/echarts/examples/stacked-columns-plus-markline"
      >Stacked Columns plus Mark Line</Link
    >

    <Link href="/echarts/examples/stacked-bar-with-border-radius"
      >Multi Stacked Bar with border radius</Link
    >

    <div>
      <Link href="/echarts/examples/bar-drilldown">Bar Drilldown</Link>
      <span> - shows how to handle mouse clicks</span>
    </div>
  </div>

  <div class="description">Data in <span>dataset</span></div>

  <div class="links">
    <Link href="/echarts/examples/dataset-simple-csv-style"
      >Simple dataset definition like one CSV array</Link
    >

    <Link href="/echarts/examples/dataset-simple-json-style"
      >Simple dataset definition like JS Objects array</Link
    >

    <Link href="/echarts/examples/dataset-mapped-to-series"
      >Map Row or Column of dataset to series</Link
    >

    <Link href="/echarts/examples/custom-x-axis">Custom X Axis labels</Link>

    <div class="flex items-center gap-2">
      <Link href="/echarts/examples/shrinking-bundle-size"
        >Shrinking Bundle Size</Link
      ><span> - </span>
      <Link
        href="https://echarts.apache.org/handbook/en/basics/import#shrinking-bundle-size"
        >docs</Link
      >
    </div>
  </div>

  <div class="description">Energy Use Cases</div>

  <div class="links">
    <Link href="/echarts/energy-use-case/gas-consumption-overview"
      >Gas Consumption Overview</Link
    >

    <!--div><strong>TODO:</strong> define the gas consumption examples</div-->

    <Link href="/echarts/energy-use-case/daily-electricity-usage"
      >Daily Electricity Usage</Link
    >

    <Link href="/echarts/energy-use-case/electricity-consumption-overview"
      >Electricity Consumption Overview</Link
    >

    <!--div>
      <strong>TODO:</strong> define the electricity consumption examples
    </div-->

    <Link href="/echarts/energy-use-case/electricity-production-overview"
      >Electricity Production Overview</Link
    >

    <!--div>
      <strong>TODO:</strong> define the electricity production examples
    </div-->
  </div>
</Layout>
