---
import Layout from '~/layouts/ApacheEChartsLayout.astro';

import Link from '~/components/Link.astro';
---

<Layout>
  <div class="font-semibold">Examples</div>

  <div class="flex flex-col gap-2 pt-2 pl-2">
    <Link class="p-0" href="/echarts/examples/starter">Starter</Link>

    <Link class="p-0" href="/echarts/examples/custom-x-axis"
      >Custom X Axis labels</Link
    >

    <Link href="/echarts/examples/formatting-tooltip-values"
      >Formatting of Values in Tooltip</Link
    >
  </div>
</Layout>
