---
import Layout from '~/layouts/ApacheEChartsLayout.astro';

import EChartsStarterExample from '~/components/apache-echarts/examples/StarterExample.svelte';
---

<Layout title="Example">
  <div class="relative grow">
    <EChartsStarterExample client:load />
  </div>
</Layout>
