---
import Layout from '~/layouts/BaseLayout.astro';

// Component Imports
import ConfettiButton from '~/components/ConfettiButton.astro';
import Link from '~/components/Link.astro';
import Greetings from '~/components/Greetings.svelte';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout
  content={{
    title: 'Astro + TS + TailwindCSS + Svelte v4'
  }}
>
  <div class="grid h-screen place-items-center content-center space-y-4">
    <ConfettiButton>Tailwind Button in Astro!</ConfettiButton>

    <div class="w-full border-b border-gray-300"></div>

    <div class="flex flex-col items-center space-y-4">
      <div class="font-bold">Available Pages:</div>
      <div class="flex gap-2 divide-x divide-gray-300">
        <Link href="/echarts">Apache ECharts</Link>
        <Link href="/mdx-page">MDX</Link>
        <Link href="/markdown-content-page">Markdown Content</Link>
        <Link href="/search?q=Hello World">Search 'Hello World'</Link>
      </div>
    </div>

    <div class="w-full border-b border-gray-300"></div>

    <Greetings />

    <Greetings message="Greetings from message property!" />

    <Greetings
      ><span class="font-semibold">Svelte v4 Component:</span> Greetings from the
      children!</Greetings
    >

    <div class="w-full border-b border-gray-300"></div>

    <Link href="https://github.com/erkobridee">GitHub - Erko Bridee</Link>
  </div>
</Layout>
