---
// https://docs.astro.build/en/guides/markdown-content/#frontmatter-layout-property

// https://tailwindcss.com/blog/tailwindcss-typography
// https://github.com/tailwindlabs/tailwindcss-typography

import Layout from '~/layouts/BaseLayout.astro';

import Link from '~/components/Link.astro';

const { frontmatter } = Astro.props;
---

<style>
  /*
    https://tailwindcss.com/docs/functions-and-directives#reference-directive
  */
  @reference "tailwindcss";

  .page-content {
    @apply flex flex-col gap-2 divide-y divide-gray-300 p-10;
  }

  .header {
    @apply flex flex-col gap-8 lg:flex-row lg:justify-between lg:gap-0;

    .left {
      @apply flex flex-col gap-2 md:flex-row md:items-center md:gap-4;
    }

    .right {
      @apply flex flex-col gap-2 lg:flex-row lg:items-center;
    }
  }
</style>

<Layout
  content={{
    title: frontmatter.title
  }}
>
  <div class="page-content">
    <div class="header pb-2">
      <div class="left">
        <Link href="/">Home page</Link>

        <div class="font-semibold">Markdown Content</div>
      </div>

      <div class="right">
        <Link href="https://tailwindcss.com/blog/tailwindcss-typography"
          >Introducing Tailwind CSS Typography - TailwindCSS Blog</Link
        >

        <Link
          href="https://docs.astro.build/en/recipes/tailwind-rendered-markdown/#setting-up-tailwindcsstypography"
          >Setting Up @tailwindcss/typography - Astro Docs</Link
        >
      </div>
    </div>

    <article class="prose lg:prose-l p-4">
      <slot />
    </article>
  </div>
</Layout>
